.editaceKategorie{
    text-align: center;
    margin: 170px;
}

.editaceKategorie label, .editaceKategorie input{
    font-family: Impact;
    font-size: 25px;
}

.editaceKategorie input[type="text"]{
    width: 400px;
    height: 50px;
}

.editaceKategorie label{
    display: inline-block;
    width: 400px;
    text-align: left;
}

.tlacitko-aktualizovatKategorii{
    margin: 30px;
    background-color: white;
    text-decoration: none;
    border:none;
    font-family: Impact;
    font-size:20px;
    padding: 14px 25px;
}

.tlacitko-aktualizovatKategorii:hover{
    background-color: #cccccc;
}