.vypisKosik{
    width: 100%;
    margin: 250px 0px;
}

.vypisKosik th, .vypisKosik td, .vypisKosik tr{
    width: 9%;
    border-bottom: solid;
    text-align: center;
    font-size: 18px;
}